%p#notice= notice

%h3= @page.title

= button_to_function :next, 'graph.next()'

#graph

:javascript
  $(function() {
    window.root_node = '#{@page.id}'
    window.graph = new Graph('#graph', root_node)
    window.graph.next()
  })
