.span12
  %p#notice= notice

  - if @page
    %h3= @page.title
  -else
    %h3 Page not found

  .row-fluid
    .span3.sidebar
      #show_page

    .span9.graph-area

      #graph


    - if @page
      :javascript
        $(function() {
          window.wiki = '#{@wiki.title}'
          root_node = '#{@page.id}'
          window.init(root_node)
          window.show_page(root_node)
        })
